[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
chapter10 = {editable = true,git = "git@github.com:atac-bham/pychapter10.git",ref = "2a15b2d2d8cf4ea469c91938317778f696e406f5"}
cloudpickle = "==0.5.5"
cytoolz = "==0.9.0.1"
dask = "==0.19.1"
docopt = "==0.6.2"
dpkt = "==1.9.1"
pytest = "==3.8.0"
toolz = "==0.9.0"
tqdm = "==4.26.0"
i106 = {editable = true,git = "git@github.com:/atac-bham/libirig106-python",ref = "0fc84e5e3b26ce52816641f325963c0f8d1f1609"}
PyInstaller = "==3.4"

[requires]
python_version = "3.7"
