-e git+https://github.com/atac/libirig106-python.git@68187e6cfdd001feafd25ece6f7f6a9dd83775fa#egg=i106
-e git+https://github.com/atac/pychapter10.git@653e6fc00529f0be5eada2f5c4024767ea0a9eea#egg=Chapter10
PyInstaller==3.6
dask[bag]==2.22.0
docopt==0.6.2
dpkt==1.9.3
pytest==6.0.1
tqdm==4.48.2
